.simple-card {
	cursor: pointer;
	padding: 12px 14px;
	border-radius: $border-size;
	width: 300px;
	border: 1px solid #CFDBD5;
	background-color: $color-white;


	.icon-content {
		width: 48px;
		height: 48px;
		background-color: #EBF0F0;
		border-radius: $border-size;
	}

	span {
		color: #5D5D5B;
	}

	hr {
		background-color: $color-smoke-white;
		color: $color-smoke-white;
	}
	.card-item {
		img {
			width: 35px;
			height: 35px;

		}
		b {
			font-size: 14px;
			text-align: start;
		}
		span {
			font-size: 12px;
		}
	}
}